# name: run docker image

# # adding for change
# on:      
#   schedule:
#     - cron: '* 14-18 * 4,5 *'

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - name: checkout repo content
#         uses: actions/checkout@v2       

#       - name: Set up QEMU
#         uses: docker/setup-qemu-action@v1

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v1
        
#       - name: Login to DockerHub
#         uses: docker/login-action@v1
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}
        
#       - name: Run image
#         uses: addnab/docker-run-action@v3
#         with:
#           image: kiranbabuabcd/jarvis-3:latest
#           run: |
#               echo 'running python file'
#               python ./fetch_latest_match_id.py
#               python ./match_output.py
#               python ./pred.py
